body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  .MenuItem1 {
  color: rgb(34, 53, 84)!important;
  font-family: FontAwesome5Pro-Regular;
  font-size: 18px;
  font-weight: normal;
  height: 18px;
  letter-spacing: 0px;
  justify-content: space-evenly!important;
  width: 165px;
  margin-top: 0px;
  
  }

  .MenuItem2 {
    color: #186bed!important;
    font-family: FontAwesome5Pro-Regular;
    font-size: 18px;
    font-weight: normal;
    height: 18px;
    letter-spacing: 0px;
    justify-content: space-evenly!important;
    width: 165px;
    margin-top: 0px;
    
    }
  
  .MenuItem3 {
    color: rgb(34, 53, 84)!important;
    font-family: FontAwesome5Pro-Regular;
    font-size: 18px;
    font-weight: normal;
    height: 18px;
    letter-spacing: 0px;
    justify-content: space-evenly!important;
    width: 165px;
    margin-top: 0px;
    
    }

 
  
  .SMenuItem {
    color: rgb(34, 53, 84);
    font-family: FontAwesome5Pro-Regular;
    font-size: 20px;
    font-weight: 800!important;
    height: 24px;
    letter-spacing: 0px;
    width: 20px;
     
    }
  